############################################
## Allow localhost only
<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /phpmyadmin

    RewriteCond %{REMOTE_HOST} !^127\.0\.0\.1
    RewriteCond %{REMOTE_HOST} !^192\.168\.


    RewriteRule ^(.*)$ /Permission-Deny [R=302,L]
   #RewriteRule ^(.*)$ /error404.html [R=302,L]
</IfModule>

